.btn{
     background-color: #222;
     color: #fff;
     padding: 0.7em 1.2em;
     text-decoration: none;
     transition: .5s;
     cursor: pointer;
     border: none;
     border-radius: 20px 20px 20px ;
     border: solid 1px #fff;
}
  

.btn:hover{
    background-color:#ffbb33;
    color: #222;
    border: solid 1px #222;
}